/*variables*/
:root {
  --color-one: hsl(0, 36%, 70%);
  --color-two: hsl(0, 93%, 68%);

  --gradient-start-one: hsl(0, 0%, 100%);
  --gradient-end-one: hsl(0, 100%, 98%);
  --gradient-start-two: hsl(0, 80%, 86%);
  --gradient-end-two: hsl(0, 74%, 74%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  font-family: "Josefin Sans", sans-serif;
}
/*main page*/
.main-page {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  padding: 0 2rem;
}
/*component*/
.base-apparel-page {
  background-image: url(../images/bg-pattern-desktop.svg),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 245, 245, 1) 100%
    );
  background-size: contain;
  background-repeat: no-repeat;

  display: grid;

  grid-template-columns: 1fr 44%;
  grid-template-rows: min-content dense;

  align-content: center;

  max-width: 1000px;

  margin: auto;
}
/*logo section*/
.base-apparel-page__box-logo {
  padding: 0 10rem;

  align-self: center;
}
.base-apparel-page__logo {
  width: 12rem;
}
/*text section*/
.base-apparel-page__box-text {
  align-self: center;

  padding: 0 10rem;
}
.base-apparel-page__box-title {
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.base-apparel-page__title-normal {
  display: block;

  color: var(--color-one);
  font-size: 5.4rem;
  font-weight: 300;
}
.base-apparel-page__tittle-bold {
  display: block;

  font-size: 5.4rem;
  font-weight: 600;
}
.base-apparel-page__text {
  color: var(--color-one);
  font-size: 1.3rem;
  line-height: 2rem;

  padding-top: 2rem;
}
/*block*/
.send-mail {
  position: relative;

  padding: 0 10rem;
}
.send-mail__box-input {
  position: relative;
}
.send-mail__input {
  background-color: transparent;
  width: 100%;

  font-size: 1.2rem;

  padding: 1.4rem 2rem;
  border-radius: 2.5rem;
  border: 0.1rem solid var(--gradient-start-two);
  outline: none;
}
.send-mail__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gradient-start-two);
  font-weight: 400;
  opacity: 1; /* Firefox */
}
.send-mail__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gradient-start-two);
  font-weight: 400;
}
.send-mail__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gradient-start-two);
  font-weight: 400;
}
.send-mail__input--error {
  border: 0.1rem solid var(--color-two);
}
.send-mail__input--valid {
  border: 0.1rem solid rgb(54, 54, 54);
}
.send-mail__error-icon {
  visibility: hidden;
  position: absolute;

  width: 2rem;

  right: 9rem;
  top: 1.2em;
}
.send-mail__error-text {
  visibility: hidden;
  position: absolute;
  left: 2rem;
  bottom: -2rem;

  color: var(--gradient-end-two);
  font-size: 1.2rem;
  font-weight: 600;
}
.send-mail__error--show {
  visibility: visible;
  display: inline-block;
}
.send-mail__send {
  background-image: linear-gradient(
    90deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
  padding: 0 3.6rem;
  border-radius: 2.5rem;
  border: none;

  height: 100%;

  position: absolute;
  right: 0;
}
.send-mail__icon {
  width: 1rem;

  position: relative;
  top: 0.1rem;
}
/*second element*/
.base-apparel-page__box-image {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}
.base-apparel-page__image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 770px) {
  /*main-page*/
  .main-page {
    top: 0;
    left: 0;
    transform: translate(0, 0);

    padding: 0;
  }
  /*component*/
  .base-apparel-page {
    max-width: 50rem;
    padding: 0;

    grid-template-columns: 1fr;
  }
  /*image section*/
  .base-apparel-page__box-image {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .base-apparel-page__image {
    content: url(../images/hero-mobile.jpg);
    display: block;
    width: 100%;
  }
  /*logo section*/
  .base-apparel-page__box-logo {
    padding: 4rem;
  }
  .base-apparel-page__logo {
    width: 13rem;
  }
  /*text secion*/
  .base-apparel-page__box-text {
    text-align: center;

    padding: 0;
    padding-top: 8rem;
  }
  .base-apparel-page__box-title {
    letter-spacing: 1.6rem;
  }
  .base-apparel-page__title-normal {
    font-size: 4.6rem;
  }
  .base-apparel-page__tittle-bold {
    font-size: 4.6rem;
  }
  .base-apparel-page__text {
    font-size: 1.85rem;
    line-height: 3rem;

    padding: 2rem 5rem;
    margin-bottom: 4rem;
  }
  /*block*/
  .send-mail {
    padding: 0 5rem;

    padding-bottom: 12rem;
  }
  .send-mail__input {
    font-size: 1.6rem;
    padding: 1.8rem 3rem;
  }
  .send-mail__send {
    padding: 0 3rem;
    border-radius: 3rem;
  }
  .send-mail__error-icon {
    top: 1.8rem;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 53.5%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 47.5%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 40.5%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 35.5%;
  }
}
