/*variables*/
:root {
  --color-one: hsl(0, 36%, 70%);
  --color-two: hsl(0, 93%, 68%);

  --gradient-start-one: #ffffff;
  --gradient-end-one: #fff5f5;
  --gradient-start-two: hsl(0, 80%, 86%);
  --gradient-end-two: hsl(0, 74%, 74%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  font-family: "Josefin Sans", sans-serif;
}
/*main page*/
.main-page {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  padding: 0 2rem;
}
/*component*/
.base-apparel-page {
  max-width: 100rem;

  display: grid;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, max-content);

  margin: auto;
}
/*section logo*/
.base-apparel-page__box-logo {
  grid-column: 1 / 7;
  grid-row: 1 / 4;

  align-self: center;

  padding-left: 12rem;

  z-index: 100;
}
.base-apparel-page__logo {
  width: 12rem;
  z-index: 100;
}
/*section text*/
.base-apparel-page__box-text {
  grid-column: 1 / 7;
  grid-row: 4 / 7;

  align-self: center;

  padding: 0 12rem;
  padding-right: 15rem;
  z-index: 100;
}
.base-apparel-page__box-title {
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.base-apparel-page__title-normal {
  display: block;

  color: var(--color-one);
  font-size: 4.4rem;
  font-weight: 300;
}
.base-apparel-page__tittle-bold {
  display: block;

  font-size: 4.4rem;
  font-weight: 600;
}
.base-apparel-page__text {
  color: var(--color-one);
  font-size: 1.2rem;
  line-height: 2rem;

  padding-top: 1.6rem;
}
/*section form*/
.base-apparel-page__box-form {
  grid-column: 1 / 7;
  grid-row: 7 / 11;

  align-self: start;

  padding: 0 12rem;
  padding-right: 15rem;

  z-index: 100;
}
/*block*/
.send-mail {
  position: relative;
}
.send-mail__box-input {
  position: relative;
}
.send-mail__input {
  background-color: transparent;
  width: 100%;

  font-size: 1.2rem;

  padding: 1.4rem 2rem;
  border-radius: 2.5rem;
  border: 0.1rem solid var(--gradient-start-two);
  outline: none;
}
.send-mail__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gradient-start-two);
  font-weight: 400;
  opacity: 1; /* Firefox */
}
.send-mail__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gradient-start-two);
  font-weight: 400;
}
.send-mail__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gradient-start-two);
  font-weight: 400;
}
.send-mail__input--error {
  border: 0.1rem solid var(--color-two);
}
.send-mail__input--valid {
  border: 0.1rem solid rgb(54, 54, 54);
}
.send-mail__error-icon {
  visibility: hidden;
  position: absolute;

  width: 2rem;

  right: 9rem;
  top: 1.2em;
}
.send-mail__error-text {
  visibility: hidden;
  position: absolute;
  left: 2rem;
  bottom: -2rem;

  color: var(--gradient-end-two);
  font-size: 1.2rem;
  font-weight: 600;
}
.send-mail__error--show {
  visibility: visible;
  display: inline-block;
}
.send-mail__send {
  background-image: linear-gradient(
    90deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
  padding: 0 3.6rem;
  border-radius: 2.5rem;
  border: none;

  height: 100%;

  position: absolute;
  right: 0;
}
.send-mail__icon {
  width: 1rem;

  position: relative;
  top: 0.1rem;
}
/*section image*/
.base-apparel-page__box-image {
  grid-column: 7 / 11;
  grid-row: 1 / 11;

  z-index: 100;
}
.base-apparel-page__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
/*background section (logo-text-form)*/
.base-apparel-page__box-logo-background {
  grid-column: 1 / 7;
  grid-row: 1 / 11;

  height: 100%;

  background-image: url(../images/bg-pattern-desktop.svg),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 245, 245, 1) 100%
    );
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom;

  z-index: 50;
}
@media screen and (max-width: 930px) {
  html {
    font-size: 54.5%;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 50.5%;
  }
}
@media screen and (max-width: 770px) {
  /*main-page*/
  .main-page {
    top: 0;
    left: 0;
    transform: translate(0, 0);

    padding: 0;
  }
  /*component*/
  .base-apparel-page {
    grid-template-columns: minmax(20rem, 45rem);
    grid-template-rows: repeat(4, max-content);

    justify-content: center;
  }
  /*section logo*/
  .base-apparel-page__box-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    padding: 5rem;
  }
  /*section text*/
  .base-apparel-page__box-text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    text-align: center;

    padding: 0 5rem;
    padding-top: 10rem;
  }
  .base-apparel-page__title-normal {
    font-size: 5rem;
  }
  .base-apparel-page__tittle-bold {
    font-size: 5rem;
  }
  .base-apparel-page__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  /*section form*/
  .base-apparel-page__box-form {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    padding: 5rem;
    padding-bottom: 10rem;
  }
  /*section image*/
  .base-apparel-page__box-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .base-apparel-page__image {
    content: url(../images/hero-mobile.jpg);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /*background section (logo-text-form)*/
  .base-apparel-page__box-logo-background {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    background-image: linear-gradient(
      115deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 245, 245, 1) 75%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
@media screen and (max-width: 426px) {
  html {
    font-size: 59.5%;
  }
  /*background section (logo-text-form)*/
}
@media screen and (max-width: 376px) {
  html {
    font-size: 53.5%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 40%;
  }
}
